@import "tailwindcss";
@import "tailwindcss-safe-area";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom colors */
  --color-main: #f08cae;
  --color-secondary: #ffe5b4;
  --color-third: #a5b4fc;

  /* Custom min-widths */
  --min-width-96: 24rem;
  --min-width-32: 8rem;

  /* Custom timing functions */
  --transition-timing-function-fade-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --transition-timing-function-fade-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
